body {
  margin: 0;
  font-size: 28px;
}
#navbar {
  overflow: hidden;
  background-color: #009688;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 22px;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}
#com{
  padding-top: 4px;
    border-top-width: 10px;
    padding-right: 20px;
  float: right;

}
input.form{
  height: 24px;
}
button.btn{
  height: 24px;
    background-color: #499788;
    color: #fff;
}